<template>
  <div class="container">
    <form v-if="!submitted">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="name" />
          </div>
          <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" v-model="surname" />
          </div>
          <div class="form-group">
            <label>Mail</label>
            <input type="text" class="form-control" v-model="email" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" v-model="password" />
          </div>
          <div class="form-group">
            <label>
              <input type="radio" value="Yes" v-model="storeData" /> Yes
            </label>
            <label>
              <input type="radio" value="No" v-model="storeData" /> No
            </label>
          </div>
          <button
            type="submit"
            @click="submitted = true"
            class="btn btn-primary"
            :disabled="checkSubmitted()"
          >Submit the Form</button>
        </div>
      </div>
    </form>
    <hr />
    <div class="row" v-if="submitted">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Your Data</h4>
          </div>
          <div class="panel-body">
            <p>Name-Surname: {{ name }} {{surname}}</p>
            <p>Mail: {{ email }}</p>
            <p>Password: {{ password }}</p>
            <p>Store in Database?: {{ storeData }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      surname: "",
      email: "",
      password: "",
      storeData: "Yes",
      submitted: false
    };
  },
  methods: {
    checkSubmitted() {
      if (
        this.name &&
        this.surname &&
        this.email &&
        this.password &&
        this.storeData
      ) {
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>

<style>
</style>
